@media only screen and (min-width: 768px) {
  .portfolio_section_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .portfolio_section_item img {
    height: 300px;
  }
  .skills_section_container {
    /* grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
